.container-footer{
    position:fixed;
    width: 100%;
    bottom:0;
    left:0;
    /*altura header*/
    height: 10vh;
    background-color:  rgb(183, 50, 105);
    box-shadow: 0 2px 5px rgba(0,0,0,0.101);

    
}