
@import url("./reset.css");

/* Seções principais */
.content-Tratamentos-Faciais,
.content-Sobre-nós,
.content-Tratamentos,
.content-Agendamentos {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: aliceblue;
    box-sizing: border-box;
}

/* Cores de fundo das seções */
.content-Tratamentos-Faciais {
    background-color: rgb(251, 239, 242);
    margin-top: 10vh; /* evita ficar atrás do header fixo */
}
.content-Sobre-nós {
    background-color: rgb(246, 206, 216);
}
.content-Tratamentos {
    background-color: rgb(242, 182, 193);
}
.content-Agendamentos {
    background-color: rgb(233, 161, 176);
}

/* Header fixo */
.container-header {
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    background-color: rgb(183, 50, 105);
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0 20px;
    z-index: 1000;
}

/* Menu dentro do header */
.container-header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.container-header-menu li {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.container-header-menu li a{
  color: black;
  
}

.container-header-menu li:hover {
    background-color: rgb(237, 97, 228);
    }
