
@import url("./reset.css");


/* Header fixo */
.container-header {
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    background-color: rgb(183, 50, 105);
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0 20px;
    z-index: 1000;
}

/* Menu dentro do header */
.container-header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.container-header-menu li {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.container-header-menu li a{
  color: rgb(227, 114, 159);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font:bold;
  
}

.container-header-menu li:hover {
    background-color: rgb(197, 60, 145);
    }
